@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
	font-weight: 300; /* 300 = light */
}

@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
	font-weight: 400; /* 400 = regular */
}

@font-face{
	font-family: 'Gilroy';
	src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
	font-weight: 800; /* 800 = extra-bold */
}

@font-face{
	font-family: 'Gilroy';
	src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
	font-weight: 300; /* 300 = light */
}

body{
	margin: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300; /* 300 = light */
	letter-spacing: 0.01em;
	color: #464646;
	background-color: #ffffff;
}

.main-header{
	background-color: #f7e296;
}

a{
	text-decoration: none;
}

.user-menu{
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
	list-style: none;
}

.interaction-menu,
.interaction-menu ul{
	list-style: none;
}

.interaction-menu a,
.user-menu a{
	color: #000000;
}

.interaction-menu{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.sub-menu{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	color: #000000;
	text-transform: none;
	letter-spacing: 0.01em;
}

.main-nav a:hover,
.main-header-logo:hover{
	opacity: 0.6;
}

.main-nav a:active,
.main-header-logo:active{
	opacity: 0.3;
}

/* с блоком инпута правильно не знаю как поступать (забыл что пока мы делаем только базовую стиизацию)*/
.form-input{
	background-color: #f7e296;
	border: none;
	opacity: 0.3;
}

.form-search{
	visibility: hidden;
}
.form-search:hover{
	visibility: visible;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	width: 85px;
	height: 49px;
	border: 2px solid black;
	color: white;
	background-color: black;
	padding: 11px 20px; 
}

.form-search:active{
	visibility: visible;

	color: rgba(255,255,255, 0.3); 
}

.form-input:focus ~ .form-search{
	visibility: visible;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	width: 85px;
	height: 49px;
	border: 2px solid black;
	color: black;
	background-color: #f7e296;
	padding: 11px 20px;
}

h2{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: black;
	letter-spacing: 0.01em;
}

.products-item b{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.01em;
	color: black;
}

.products-item p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}

.products-item a{
	background-color: #f0c52e;
	color: black;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase; 
	text-align: center;
}

.products-item a:active{
	color: #a88a20;
}

.stats{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.properties{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #464646;
}

.categories-list{
	list-style: none;
}

.categories-list a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: black;
	letter-spacing: 0.01em;
}

.categories-list a:hover{
	color: black;
}

.categories-list a:active{
	color: #b2b2b2;
}

.service{
	background-color: #e5e5e5;
}

.service-list,
.service-description{
	list-style: none;
}

.service-list button{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: black;
	text-transform: uppercase;
	background-color: #f0c52e;
	border: none; 
}

.service-list button:active{
	color: #f7e184;
	background-color: black;
	outline: none;
}

.image-delivery{
	width: 136px;
	height: 164px;
	background-image: url('../img/delivery.svg');
	background-repeat: no-repeat; 
	background-position: 0 0;
}

.image-guaranty{
	width: 171px;
	height: 194px;
	background-image: url('../img/warranty.svg');
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.image-credit{
	width: 156px;
	height: 186px;
	background-image: url('../img/credit.svg');
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.partners-list{
	list-style: none;
}

.dji-logo:hover{
	background: url('../img/logo-1-color.png') no-repeat 0 0;
}

.sp-logo:hover{
	background: url('../img/logo-2-color.png') no-repeat 0 0;
}

.gopro-logo:hover{
	background: url('../img/logo-3-color.png') no-repeat 0 0;
}

.vivo-logo:hover{
	background: url('../img/logo-4-color.png') no-repeat 0 0;
}

.about p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	letter-spacing: 0;
}

.about-list,
.about-company-list{
	list-style: none;
}

.about-company-list{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 15px;
	/* размер шрифта в фотошопе не высвечивается почему то, видно баг в макете */
}

.about-button,
.contacts-button{
	font-size: 18px;
	line-height: 24px;
	background-color: #f0c52e;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	color: black;
	text-align: center;
	text-transform: uppercase; 
	letter-spacing: 0.2em;
}

.about-button:active,
.contacts-button:active{
	color: #a88a20;
}

.main-footer{
	background-color: #464646;
}

.logo:hover{
	opacity: 0.6;
}

.logo:active{
	opacity: 0.3;
}

.main-footer ul{
	list-style: none;
}

.main-footer-interaction a{
	color: white;
	opacity: 0.7;
	letter-spacing: 0.01em;
}

.main-footer-interaction a:hover{
	opacity: 1;
}

.main-footer-interaction a:active{
	opacity: 0.3;
}

.main-footer-menu a{
	color: white;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
}

.main-footer-menu a:hover{
	opacity: 0.6;
}

.main-footer-menu a:active{
	opacity: 0.3;
}

.main-footer-adress,
.main-footer-phone{
	color: white;
	letter-spacing: 0;
}

.socials{
	list-style: none;
}

.socials a{
	background-color: white;
	opacity: 0.3;
}

.socials a:active{ /*Актив не получился? */
	background-color: white;
	opacity: 0.1;
}

.socials a:hover{
	background-color: white;
	opacity: 0.6;
}

.copyright a:hover{
	opacity: 0.6;
}
.copyright a:active{
	opacity: 0.3;
}

/*catalog */
.page-title{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: black;
	letter-spacing: 0.01em;
}

.breadcrumbs{
	list-style: none;
}

.breadcrumbs a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #b2b2b2;
}

.breadcrumbs a:hover{
	color: #666666;
}

.breadcrumbs a:active{
	color: #8e8e8e;
}

.filters{
	background-color: #eeeeee;
}

.filters strong,
.catalog strong{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.filters fieldset{
	border: none;
}

.filters legend{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: black;
}
.filters ul{
	list-style: none;
	line-height: 40px;
	color: black;
}

.filters li{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 14px;
}


.filter-input:disabled ~ span{
	opacity: 0.25;
} 

.filters-button{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: auto;
	color: black;
	background-color: #f0c52e;
	text-transform: uppercase;
	border: transparent;
	letter-spacing: 0.2em;
}

.filters-button:active{
	color: #a88a20;
}

.sort{
	background-color: #eeeeee;
}

.sort-list,
.sort-buttons{
	list-style: none;
}

.sort-list{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #b2b2b2;
	letter-spacing: 0;
}

.sort-list a:hover{
	color: #666666;
}

.sort-list a:active{
	color: black;
}

.catalog-list{
	list-style: none;
}

.sort-current{
	color: black;
}

/* прописал inline-block, чтоб было видно хотябы что треугольники вставил */
.sort-up a{
	background: url('../img/icon-up-dir.svg') no-repeat 0 0;
	width: 11px;
	height: 10px;
	display: inline-block;
	opacity: 0.2;
}

.sort-down a{
	background: url('../img/icon-down-dir.svg') no-repeat 0 0;
	width: 11px;
	height: 10px;
	display: inline-block;
	opacity: 0.2;
}

.sort-down .sort-current{
	opacity: 1;
}

.sort-down a:hover,
.sort-up a:hover{
	opacity: 0.4;
}

.sort-down a:active,
.sort-up a:active{
	opacity: 1;
}

.catalog-item{
	background-color: #eeeeee;
}

.catalog-item h3{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: black;
}

.catalog-item-price{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 300;
	color: #464646;
}

.catalog-button{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: black;
	background-color: #f0c52e;
	text-transform: uppercase;
	border: transparent;
	letter-spacing: 0.2em;
}

.catalog-button:active{
	color: #a88a20;
}

.catalog-add-compare{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: black;
	opacity: 0.5;
}

.catalog-add-compare:hover{
	opacity: 1;
}

.catalog-add-compare:active{
	opacity: 0.2;
}

.pagination{
	background-color: #eeeeee;
	list-style: none;
}

.pagination a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #a4a4a4;
}

.pagination a:hover{
	color: black;
	opacity: 0.6;
}

.pagination a:active{
	color: black;
	opacity: 1;
}

.back a,
.forward a{
	color: black;
}

.back a:hover,
.forward a:hover{
	background-color: #d9d9d9;
}

.back a:active,
.forward a:active{
	background-color: #d9d9d9;
	color: #979797;
}

.pagination-item .pagination-current{
	color: black;
}

.user-logout,
.main-footer-interaction .footer-logout{
	opacity: 0.3;
}

/* Cетки */
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Сетка шапки */

.main-header{
	margin: 0;
	padding: 0;
}

.container-inner{
	width: 1040px;
	margin: 0 auto;
}

.nav-top{
	display: flex;
	margin-bottom: 45px; /* отсупы вниз тоже не поучаются */
}

.nav-form{
	width: 440px;
}

.user-menu{
	margin: 0;
	padding: 0;
	width: 500px;
	display: flex;
}

.login{
	width: 80px;
	margin-right: 200px;
}

.compare{
	width: 100px;
	margin-right: 20px;
}

.basket{
	width: 100px;
	margin-right: 0;
}

/* шапка вообще не получиласть, не понимаю как взять отдельные блоки и выделить их */
.interaction-menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.menu{
	margin: 0;
	padding: 0;
}

.sub-menu{
	margin: 0;
	padding: 0;
	
}

.menu ul{
	width: 600px;
}

/* Сетки "О нас и контакты"" */

.wrapper-info{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.about-list{
	margin: 0;
	padding: 0;
	width: 480px;
}

.about-company-list{
	margin: 0;
	padding: 0;
	width: 480px;
}

.contacts{
	width: 560px;
}


.container{
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;	
}

/* Сетки Футер */

.main-footer .container{
	display: flex;
	flex-direction: column;
}

.main-footer-top {
	display: flex;
	padding: 65px 0 0 0;
	justify-content: space-between;
	margin-bottom: 0px;
	align-items: center;
	/*не понимаю как правильно выбрать размер margin-bottom*/
}

.main-footer-logo{
	margin: 0;
	width: 180px;
}

.main-footer-interaction{
	margin: 0;
	padding: 0;
	width: 500px;
	display: flex;
	justify-content: space-between;
	/* 500px для логаута из каталога */
}


.main-footer-center{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-footer-adress{
	width: 210px;
}

.main-footer-menu{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 430px;
}

.main-footer-phone{
	width: 200px;
	text-align: right;
}

.main-footer-bottom{
	display: flex;
	justify-content: space-between;
	padding-bottom: 65px;
}


.footer-line{
	/*как поступить с декоративной линией в футере? */
}

.socials{
	margin: 0;
	padding: 0;
	width: 160px;
	display: flex;
	background-color: red;
	opacity: 0.1;
}

.copyright{
	width: 60px;
	text-align: right;
}


/* Каталог и хлебные крошки сетка */
.page-title{
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
}

.breadcrumbs{
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 50px;
}

/* Контеинер для внутренней страницы */
.container-catalog{
	margin: 0 auto;
	padding-left: 60px;
	width: 1100px;
}

.filters{
	width: 200px;
	margin: 0;
	padding: 0;
}

.filters ul{
	margin: 0;
	padding: 0;
}

.catalog{
	margin: 0;
	padding: 0;
	width: 760px;
}
